$color-paleta-1: #0A0908;
$color-paleta-2: #607196;
$color-paleta-3: #FF7B9C;
/* $color-paleta-4: #FFC759; // Color antigüo */
$color-paleta-4: #EE9C69;
$color-paleta-5: #DCF6FD;

/* Para las letras en el fondo negro del primer color de la paleta */
$color-blanco:#FFFFFF;

$azul-defecto-angular-material: #3F51B5;

/*Para el estado en caso de estar completado en el MatStepper*/
$color-completado: #008000;
$color-cancelado: #FF0000;

/*Para el borde que pone Angular Material por defecto por cada rseultado de MatTable*/
$color-borde-tabla: #0000001F;