@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&display=swap');
@import '../../constantes/globales.scss';

p {
    font-size: 50px;
    color: $color-paleta-2;
    font-family: 'Noto Sans Vai', sans-serif;
}