<div class="componente__contenedor">

    <div class="titulo">Estadísticas de la Comunidad</div>

    <div [ngClass]="{'buscador__contenedor': true, 'buscador__contenedor--recogido': datosGraficoTotal != null}">
        <form [formGroup]="formulario" class="buscador">
            <mat-form-field *ngIf="!formulario.get('modoAnual').value" appearance="fill">
                <mat-label>Seleccione una fecha</mat-label>
                <input matInput [matDatepicker]="selectorFecha" [matDatepickerFilter]="filtroFechas" formControlName="fecha">
                <mat-hint>Patrón: MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="selectorFecha"></mat-datepicker-toggle>
                <mat-datepicker #selectorFecha startView="multi-year" (yearSelected)="cambioAnno($event)" (monthSelected)="cambioMes($event, selectorFecha)"></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="formulario.get('modoAnual').value" appearance="fill">
                <mat-label>Año</mat-label>
                <mat-select formControlName="anno">
                    <mat-option *ngFor="let anno of listadoAnnosDisponibles" [value]="anno">{{anno}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox  formControlName="modoAnual">Modo anual</mat-checkbox>
            <button mat-raised-button class="boton" (click)="pedirEstadisticasCentros()">Ver estadísticas</button>
        </form>
    </div>

    <div [ngClass]="{'graficos': true, 'graficos--ocultar': datosGraficoTotal === null}">
        <div class="grafico__contenedor">
            <div class="titulo">Citas de todos los centros</div>
            <div class="grafico">
                <canvas #graficoLineas></canvas>
            </div>
            <div class="grafico__contenedor">
                <div class="titulo">Total de pruebas</div>
                <div class="grafico">
                    <canvas #graficoCircular></canvas>
                </div>
            </div>
        </div>
        <div  class="grafico__contenedor">
            <div class="titulo titulo--tamanno-medio">Filtro por carpeta</div>
            <div class="selector-prueba">
                <mat-form-field>
                    <mat-label>Carpeta</mat-label>
                    <mat-select [formControl]="selectorCarpeta">
                        <mat-option *ngFor="let carpeta of listaCarpetasFiltro" [value]="carpeta">{{carpeta.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectorCarpeta.invalid">Seleccione una opción válida</mat-error>
                </mat-form-field>
                <button mat-raised-button class="boton" (click)="pedirEstadisticasPorCarpeta()">Ver gráfico</button>
            </div>
        </div>
        
        <div [ngClass]="{'graficos graficos--sin-margen-superior': true, 'graficos--ocultar': datosGraficoFiltradoPorCarpeta === null}">
            <div class="grafico__contenedor">
                <div class="titulo">Citas de {{ultimaCarpetaFiltrada?.nombre}}</div>
                <div class="grafico">
                    <canvas #graficoLineasCarpeta></canvas>
                </div>
            </div>
            <div class="grafico__contenedor">
                <div class="titulo">Total</div>
                <div class="grafico">
                    <canvas #graficoCircularCarpeta></canvas>
                </div>
            </div>
        </div>

        <div  class="grafico__contenedor">
            <div class="titulo titulo--tamanno-medio">Filtro por prueba</div>
            <div class="selector-prueba">
                <mat-form-field>
                    <mat-label>Prueba</mat-label>
                    <mat-select [formControl]="selectorPrueba">
                        <mat-option *ngFor="let prueba of listaPruebasFiltro" [value]="prueba">{{prueba.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectorPrueba.invalid">Seleccione una opción válida</mat-error>
                </mat-form-field>
                <button mat-raised-button class="boton" (click)="pedirEstadisticasPorPrueba()">Ver gráfico</button>
            </div>
        </div>

        <div [ngClass]="{'graficos graficos--sin-margen-superior': true, 'graficos--ocultar': datosGraficoFiltradoPorPrueba === null}">
            <div class="grafico__contenedor">
                <div class="titulo">Citas de {{ultimaPruebaFiltrada?.nombre}}</div>
                <div class="grafico">
                    <canvas #graficoLineasPrueba></canvas>
                </div>
            </div>
            <div class="grafico__contenedor">
                <div class="titulo">Total</div>
                <div class="grafico">
                    <canvas #graficoCircularPrueba></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
