<div class="componente__contenedor" (window:resize)="cambioAnchuraVentana()">

    <div class="titulo">Informacion de pruebas</div>

    <div [ngClass]="{'buscador__contenedor': true, 'buscador__contenedor--recogido': datosPrueba != null}">
        <div class="buscador">
            <mat-form-field appearance="fill">
                <mat-label>Prueba</mat-label>
                <mat-select [formControl]="selectorPrueba">
                    <mat-option *ngFor="let prueba of listadoPruebasDisponibles" [value]="prueba">{{prueba.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="selectorPrueba?.errors?.required">Seleccione una prueba</mat-error>
            </mat-form-field>
            <button mat-raised-button class="boton" (click)="cargarInformacionPrueba()">Ver información</button>
        </div>        
    </div>

    <mat-accordion [ngClass]="{'conjunto-desplegables': true, 'conjunto-desplegables--mostrar': datosPrueba}" class="conjunto-desplegables">
        <mat-expansion-panel class="desplegable">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Descripción
                </mat-panel-title>
                <mat-panel-description>
                    Descripción de la prueba
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{datosPrueba?.descripcion}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="desplegable">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Avisos
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{datosPrueba?.avisos}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="desplegable">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Recomendaciones
                </mat-panel-title>
                <mat-panel-description>
                    Recomendaciones antes de realizar la prueba
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{datosPrueba?.recomendaciones}}</p>
        </mat-expansion-panel>
    </mat-accordion>

</div>
