<div class="example-header">
    <button mat-icon-button [disabled]="!anteriorAnnoDisponible" (click)="clickAnterior('anno')">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!anteriorMesDisponible" (click)="clickAnterior('mes')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span class="example-header-label">{{periodLabel}}</span>
    <button mat-icon-button (click)="clickSiguiente('mes')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button mat-icon-button (click)="clickSiguiente('anno')">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
  </div>
