@import '../../constantes/globales.scss';
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.componente__contenedor {
    flex-direction: column;
    justify-content: flex-start;
}

.filtro {
    width: 30%;
    height: 80px;
    margin-bottom: 50px;
    border-radius: 40px;
    background-color: $color-blanco;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%);

    mat-form-field {
        width: 80%;
    }
}

.tabla {
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%);

    table {
        width: 100%;
        font-family: 'Poppins', sans-serif;

        .mat-header-row {
            background-color: $color-paleta-2;
        }

        .mat-header-cell {
            color: $color-paleta-5;
            font-size: 17px;
        }

        ::ng-deep .mat-sort-header-arrow {
            color: $color-paleta-5;
        }
    }


    .acciones  {
        display: flex;
        justify-content: space-evenly;
        
        button {
            min-width: 40px;
            min-height: 36px;
            padding-inline: 5px;
            // color: $color-paleta-1;
            // background-color: $color-paleta-4;

            &:hover {
             background-color: rgba(0,0,0,0.1);   
            }
        }
    }

}
